<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LIST OF DEPT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/getAllDepartments}" th:object="${deps}" method="get">
        <table border="collapse">
            <tbody th:each="dep : ${deps}" th:remove="tag">

            <tr><td th:text="${dep.id}">...</td></tr>
            <tr><td th:text="${dep.name}">...</td></tr>
            <tr><td th:text="${dep.employees}">...</td><br/><br/></tr>

            </tbody>
        </table>
    </form>
</div>
</body>
</html>