<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{/saveEmployee}" th:object="${saveEmployee}" method="post"
                  class="form-horizontal"
                  role="form">
                <h2>Saving Form</h2>
                <table>
                    <tr>
                        <td>Name </td>
                        <td><input th:type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Salary </td>
                        <td><input th:type="number" th:field="*{salary}"></td>
                    </tr>
                    <tr>
                        <td>Birthday </td>
                        <td><input type="date" th:field="*{birthday}"></td>
                    </tr>
                    <tr>
                        <td>Hire </td>
                        <td><input type="date" th:field="*{hire}"></td>
                    </tr>
                </table>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Save Employee</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>